In [1]:
# importing necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time
import re
import requests
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings('ignore')

# Details for Cars in Ahmedabad

In [2]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.cardekho.com/'
driver.get(url)
driver.maximize_window()

In [3]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div/header/div[1]/div/div/div[2]/div/div/form/div[1]/input')
search.send_keys('used cars')

In [4]:
from selenium.webdriver.common.keys import Keys
driver.find_element(By.CLASS_NAME,"searchbtn").send_keys(Keys.RETURN)

In [5]:
#Location

loc = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[1]/div[1]/div[2]/input')
loc.click()

In [6]:
loc1 = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[3]/section/div/ul/li[1]/a/span[3]')
loc1.click()

In [12]:
brand_url = []
brand_urls = driver.find_elements(By.XPATH,'//div[@class=" gsc_row minheight"]/div[1]/a')
for i in brand_urls:
    time.sleep(1)
    brand_url.append(i.get_attribute('href'))
for _ in range(100):
    driver.execute_script("window.scrollBy(0,100)")

In [13]:
len(brand_url)

868

## 1. Brand

In [14]:
brand1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        bn = driver.find_element(By.XPATH,'//*[@class="overviewBox viewall gs_readmore"]/span')
        brand1.append(bn.text.split())
    except NoSuchElementException:
        brand1.append(None)

In [15]:
brands1 = []

for i in range(len(brand1)):
    if brand1[i]==None:
        brands1.append(np.nan)
    else:
        brands1.append(brand1[i][1])

In [16]:
len(brands1)

868

## 2. Engine

In [41]:
engine1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        eg = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[2]/div[2]')
        engine1.append(eg.text.split())
    except NoSuchElementException:
        engine1.append('NaN')

In [94]:
engines1 = []

for i in range(0,868):
    if engine1[i]=='NaN':
        engines1.append('NaN')
    elif len(engine1[i])==1:
        engines1.append('NaN')
    else:
        engines1.append(engine1[i][0])

In [99]:
Engines1 = []
for i in range(0,868):
    if engines1[i]=='NaN':
        Engines1.append(np.nan)
    else:
        Engines1.append(eval(engines1[i]))

In [103]:
len(Engines1)

868

## 3. Number of owner

In [45]:
owner1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        own = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[4]/div/div')
        owner1.append(own.text)
    except NoSuchElementException:
        owner1.append(np.nan)

In [46]:
len(owner1)

868

## 4. Insurance

In [47]:
insurance1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        ins = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[7]/div/div')
        insurance1.append(ins.text)
    except NoSuchElementException:
        insurance1.append(np.nan)

In [48]:
len(insurance1)

868

## 5. Manufacturing year

In [113]:
year1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        yr = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[1]/div/div')
        year1.append(yr.text)
    except NoSuchElementException:
        year1.append('NaN')

In [121]:
years1 = []
for i in year1:
    years1.append(i.replace('N/A','NaN'))

In [123]:
Years1 = []
for i in range(len(years1)):
    if years1[i]=='NaN':
        Years1.append(np.nan)
    else:
        Years1.append(eval(years1[i]))

In [140]:
len(Years1)

868

## 6. Driven kms

In [57]:
kms1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        km = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[3]/div/div')
        kms1.append(km.text.split())
    except NoSuchElementException:
        kms1.append('NaN')

In [58]:
Kms1 = []
for i in range(len(kms1)):
    if kms1[i]=='NaN':
        Kms1.append('NaN')
    else:
        Kms1.append(kms1[i][0])

In [62]:
Kilo1 = []
for i in range(len(Kms1)):
    if Kms1[i]=='NaN':
        Kilo1.append('NaN')
    else:
        Kilo1.append(Kms1[i].replace(',',''))

In [63]:
Kilos1 = []
for i in range(len(Kilo1)):
    if Kilo1[i]=='NaN':
        Kilos1.append(np.nan)
    else:
        Kilos1.append(eval(Kilo1[i]))

In [65]:
len(Kilos1)

868

## 7. Fuel type

In [66]:
fuel1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        fl = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[5]/div/div')
        fuel1.append(fl.text)
    except NoSuchElementException:
        fuel1.append(np.nan)

In [67]:
len(fuel1)

868

## 8. Mileage

In [68]:
mileage1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        ml = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[1]/div[2]')
        mileage1.append(ml.text.split())
    except NoSuchElementException:
        mileage1.append('NaN')

In [144]:
milg1 = []

for i in range(len(mileage1)):
    if mileage1[i]=='NaN':
        milg1.append('NaN')
    else:
        milg1.append(mileage1[i][0])

In [145]:
Milg1 = []
for i in range(len(milg1)):
    if milg1[i]=='NaN':
        Milg1.append(np.nan)
    else:
        Milg1.append(eval(milg1[i]))

In [147]:
len(Milg1)

868

## 9. Price

In [283]:
price1 = []

for i in brand_url:
    driver.get(i)
    time.sleep(1)
    try:
        pc = driver.find_element(By.XPATH,'//div[@class="gsc_container_hold"]/span/span[1]')
        price1.append(pc.text.split())
    except NoSuchElementException:
        price1.append('NaN')

In [316]:
Price1 = []
for i in range(len(price1)):
    if price1[i] == 'NaN':
        Price1.append('NaN')
    elif price1[i] !='NaN':
        Price1.append(price1[i][0].replace(',',''))
    else:
        Price1.append(price1[i][0])

In [318]:
Prices1 = []
for i in range(len(Price1)):
    if Price1[i]!='NaN':
        Prices1.append(Price1[i].split('*'))
    else:
        Prices1.append('NaN')

In [324]:
Prc1 = []
for i in range(len(Prices1)):
    Prc1.append(Prices1[i][0])

In [325]:
Prcs1 = []
for i in range(len(Prc1)):
    if Prc1[i]=='N':
        Prcs1.append(np.nan)
    else:
        Prcs1.append(eval(Prc1[i]))

In [327]:
len(Prcs1)

868

In [328]:
df = pd.DataFrame()
df['Brand'] = brands1
df['Engine (in cc)'] = Engines1
df['Number of owner'] = owner1
df['Insurance'] = insurance1
df['Manufacturing year'] = Years1
df['Driven kilometers'] = Kilos1
df['Fuel type'] = fuel1
df['Mileage'] = Milg1
df['Price (in lakhs)'] = Prcs1
df

,Brand,Engine (in cc),Number of owner,Insurance,Manufacturing year,Driven kilometers,Fuel type,Mileage,Price (in lakhs)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
863,Hyundai,1582.0,Second Owner,Active,2018.0,76613.0,Diesel,22.00,8.37
864,Maruti,1248.0,First Owner,Active,2017.0,125450.0,Diesel,23.40,5.00
865,Maruti,796.0,First Owner,No Insurance,NaN,120000.0,Petrol,22.74,2.80
866,Maruti,1248.0,First Owner,No Insurance,2017.0,87000.0,Diesel,28.09,6.95
867,Maruti,1197.0,First Owner,No Insurance,NaN,120000.0,Petrol,22.00,6.00

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               776 non-null    object
 1   Engine (in cc)      760 non-null    float64
 2   Number of owner     775 non-null    object
 3   Insurance           775 non-null    object
 4   Manufacturing year  689 non-null    float64
 5   Driven kilometers   775 non-null    float64
 6   Fuel type           772 non-null    object
 7   Mileage             772 non-null    float64
 8   Price (in lakhs)    761 non-null    float64
dtypes: float64(5), object(4)
memory usage: 61.2+ KB

In [330]:
df.to_csv('Ahmedabad.csv')

In [153]:
driver.close()

# Details for cars in Bangalore

In [167]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.cardekho.com/'
driver.get(url)
driver.maximize_window()

In [168]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div/header/div[1]/div/div/div[2]/div/div/form/div[1]/input')
search.send_keys('used cars')

In [169]:
from selenium.webdriver.common.keys import Keys
driver.find_element(By.CLASS_NAME,"searchbtn").send_keys(Keys.RETURN)

In [170]:
#Location

loc = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[1]/div[1]/div[2]/input')
loc.click()

In [171]:
loc1 = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[3]/section/div/ul/li[2]/a/span[3]')
loc1.click()

In [172]:
#driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [177]:
brand_url2 = []
brand_urls2 = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')
for i in brand_urls2:
    time.sleep(2)
    brand_url2.append(i.get_attribute('href'))
for _ in range(500):
    driver.execute_script("window.scrollBy(0,1000)")

In [331]:
len(brand_url2)

1738

## 1. Brand

In [184]:
brand2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(2)
    try:
        br = driver.find_element(By.XPATH,'//div[@class="usedSpecFeatureBoxs "]/div[1]/span')
        brand2.append(br.text.split())
    except NoSuchElementException:
        brand2.append('NaN')

In [185]:
brands2 = []
for i in range(len(brand2)):
    if brand2[i]=='NaN':
        brands2.append(np.nan)
    else:
        brands2.append(brand2[i][1])

In [332]:
len(brands2)

1738

## 2. Engine

In [189]:
engine2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        en = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[2]/div[2]')
        engine2.append(en.text.split())
    except NoSuchElementException:
        engine2.append('NaN')

In [211]:
engines2 = []
for i in range(len(engine2)):
    if engine2[i] == 'NaN':
        engines2.append('NaN')
    else:
        engines2.append(engine2[i][0].split('B'))

In [218]:
Engines2 = []
for i in range(len(engines2)):
    if engines2[i] == 'NaN':
        Engines2.append('NaN')
   # elif engine2[i] != 'NaN':
        #engines2.append(engine2[i][0].split('b' or 'B'))
    else:
        Engines2.append(engines2[i][0].split('b'))

In [219]:
Engine2 = []
for i in range(len(Engines2)):
    if Engines2[i]=='NaN':
        Engine2.append('NaN')
    else:
        Engine2.append(Engines2[i][0])

In [221]:
Eng2 = []
for i in range(len(Engine2)):
    if Engine2[i]=='NaN':
        Eng2.append(np.nan)
    else:
        Eng2.append(eval(Engine2[i]))

In [333]:
len(Eng2)

1738

## 3. Number of owner

In [224]:
owner2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        own = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[4]/div/div')
        owner2.append(own.text)
    except NoSuchElementException:
        owner2.append(np.nan)

In [334]:
len(owner2)

1738

## 4. Insurance

In [421]:
insurance2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        ins = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[7]/div/div')
        insurance2.append(ins.text)
    except NoSuchElementException:
        insurance2.append(np.nan)

In [422]:
len(insurance2)

1738

## 5. Manufacturing year

In [235]:
year2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        yr2 = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[1]/div/div')
        year2.append(yr2.text)
    except NoSuchElementException:
        year2.append('NaN')

In [244]:
years2 = []
for i in range(len(year2)):
    if year2[i]=='N/A':
        years2.append('NaN')
    elif year2[i]=='NaN':
        years2.append('NaN')
    else:
        years2.append(year2[i])

In [246]:
Years2 = []
for i in range(len(years2)):
    if years2[i]=='NaN':
        Years2.append(np.nan)
    else:
        Years2.append(eval(years2[i]))

In [336]:
len(Years2)

1738

## 6. Kilometers driven

In [252]:
kms2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        km2 = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[3]/div/div')
        kms2.append(km2.text.split())
    except NoSuchElementException:
        kms2.append('NaN')

In [253]:
Kms2 = []
for i in range(len(kms2)):
    if kms2[i]=='NaN':
        Kms2.append('NaN')
    else:
        Kms2.append(kms2[i][0])

In [254]:
Kilo2 = []
for i in range(len(Kms2)):
    if Kms2[i]=='NaN':
        Kilo2.append('NaN')
    else:
        Kilo2.append(Kms2[i].replace(',',''))

In [255]:
Kilos2 = []
for i in range(len(Kilo2)):
    if Kilo2[i]=='NaN':
        Kilos2.append(np.nan)
    else:
        Kilos2.append(eval(Kilo2[i]))

In [337]:
len(Kilos2)

1738

## 7. Fuel type

In [258]:
fuel2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        fl2 = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[5]/div/div')
        fuel2.append(fl2.text)
    except NoSuchElementException:
        fuel2.append(np.nan)

In [338]:
len(fuel2)

1738

## 8. Mileage

In [340]:
mileage2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        ml2 = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[1]/div[2]')
        mileage2.append(ml2.text.split())
    except NoSuchElementException:
        mileage2.append('NaN')

In [341]:
milg2 = []

for i in range(len(mileage2)):
    if mileage2[i]=='NaN':
        milg2.append('NaN')
    else:
        milg2.append(mileage2[i][0])

In [342]:
Mileage2 = []
for i in range(len(milg2)):
    if milg2[i]=='NaN':
        Mileage2.append(np.nan)
    else:
        Mileage2.append(eval(milg2[i]))

In [365]:
len(Mileage2)

1738

## 9. Price

In [344]:
price2 = []

for i in brand_url2:
    driver.get(i)
    time.sleep(1)
    try:
        pc2 = driver.find_element(By.XPATH,'//div[@class="gsc_container_hold"]/span/span[1]')
        price2.append(pc2.text.split())
    except NoSuchElementException:
        price2.append('NaN')

In [353]:
prices2 = []
for i in range(len(price2)):
    if price2 == 'NaN':
        prices2.append('NaN')
    elif price2[i] !='NaN':
        prices2.append(price2[i][0].replace(',',''))
    else:
        prices2.append(price2[i][0])

In [354]:
Prices2 = []
for i in range(len(prices2)):
    if prices2[i]!='N':
        Prices2.append(prices2[i].split('*'))
    else:
        Prices2.append('NaN')

In [360]:
Prc2 = []
for i in range(len(Prices2)):
    Prc2.append(Prices2[i][0])

In [362]:
Prcs2 = []
for i in range(len(Prc2)):
    if Prc2[i]=='N':
        Prcs2.append(np.nan)
    else:
        Prcs2.append(eval(Prc2[i]))

In [364]:
len(Prcs2)

1738

In [366]:
df2 = pd.DataFrame()
df2['Brand'] = brands2
df2['Engine (in cc)'] = Eng2
df2['Number of owner'] = owner2
df2['Insurance'] = insurance2
df2['Manufacturing year'] = Years2
df2['Driven kilometers'] = Kilos2
df2['Fuel type'] = fuel2
df2['Mileage'] = Mileage2
df2['Price (in lakhs)'] = Prcs2
df2

,Brand,Engine (in cc),Number of owner,Insurance,Manufacturing year,Driven kilometers,Fuel type,Mileage,Price (in lakhs)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1733,Maruti,796.0,Second Owner,No Insurance,NaN,60000.0,Petrol,19.70,1.80
1734,Ford,1498.0,First Owner,No Insurance,2016.0,48545.0,Diesel,25.83,5.20
1735,Hyundai,1495.0,Second Owner,No Insurance,NaN,90000.0,Petrol,13.20,90000.00
1736,Datsun,799.0,Second Owner,Active,NaN,38000.0,Petrol,22.70,2.57
1737,Maruti,796.0,First Owner,Active,NaN,60000.0,Petrol,19.70,1.25

In [368]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               1566 non-null   object
 1   Engine (in cc)      1563 non-null   float64
 2   Number of owner     1565 non-null   object
 3   Insurance           1565 non-null   object
 4   Manufacturing year  1410 non-null   float64
 5   Driven kilometers   1563 non-null   float64
 6   Fuel type           1561 non-null   object
 7   Mileage             1550 non-null   float64
 8   Price (in lakhs)    1551 non-null   float64
dtypes: float64(5), object(4)
memory usage: 122.3+ KB

In [369]:
df2.to_csv('Bangalore.csv')

In [373]:
driver.close()

## Details for cars in Mumbai

In [378]:
# running webdriver
driver = webdriver.Chrome(r'C:\Users\HP\chromedriver_win32\chromedriver.exe')

# getting the url
url = 'https://www.cardekho.com/'
driver.get(url)
driver.maximize_window()

In [379]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div/header/div[1]/div/div/div[2]/div/div/form/div[1]/input')
search.send_keys('used cars')

In [380]:
from selenium.webdriver.common.keys import Keys
driver.find_element(By.CLASS_NAME,"searchbtn").send_keys(Keys.RETURN)

In [381]:
#Location

loc = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[2]/div/div[1]/div[1]/div[2]/input')
loc.click()

In [382]:
loc1 = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[3]/section/div/ul/li[3]/a/span[1]/img')
loc1.click()

In [388]:
brand_url3 = []
brand_urls3 = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')
for i in brand_urls3:
    time.sleep(2)
    brand_url3.append(i.get_attribute('href'))
for _ in range(500):
    driver.execute_script("window.scrollBy(0,100)")
#driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [394]:
len(brand_url3)

2905

## 1. Brand

In [395]:
brand3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(2)
    try:
        br = driver.find_element(By.XPATH,'//div[@class="usedSpecFeatureBoxs "]/div[1]/span')
        brand3.append(br.text.split())
    except NoSuchElementException:
        brand3.append('NaN')

In [396]:
brands3 = []
for i in range(len(brand3)):
    if brand3[i]=='NaN':
        brands3.append(np.nan)
    else:
        brands3.append(brand3[i][1])

In [397]:
len(brands3)

2905

## 2. Engine

In [398]:
engine3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        en = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[2]/div[2]')
        engine3.append(en.text.split())
    except NoSuchElementException:
        engine3.append('NaN')

In [402]:
engines3 = []
for i in range(len(engine3)):
    if engine3[i]=='NaN':
        engines3.append('NaN')
    else:
        engines3.append(engine3[i][0].split('B'))

In [403]:
Engines3 = []
for i in range(len(engines3)):
    if engines3[i] == 'NaN':
        Engines3.append('NaN')
    else:
        Engines3.append(engines3[i][0].split('b'))

In [404]:
Engine3 = []
for i in range(len(Engines3)):
    if Engines3[i]=='NaN':
        Engine3.append('NaN')
    else:
        Engine3.append(Engines3[i][0])

In [406]:
Eng3 = []
for i in range(len(Engine3)):
    if Engine3[i]=='NaN':
        Eng3.append('NaN')
    else:
        Eng3.append(Engine3[i].split('n'))

In [409]:
Engs3 = []
for i in range(len(Eng3)):
    if Eng3[i]=='NaN':
        Engs3.append(np.nan)
    else:
        Engs3.append(eval(Eng3[i][0]))

In [471]:
len(Engs3)

2905

## 3. Number of owner

In [412]:
owner3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        own = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[4]/div/div')
        owner3.append(own.text)
    except NoSuchElementException:
        owner3.append(np.nan)

In [424]:
len(owner3)

2905

## 4. Insurance

In [427]:
insurance3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        ins = driver.find_element(By.XPATH,'//div[@id="Overview"]/div/div/div/ul/li[9]/div/div[2]')
        insurance3.append(ins.text)
    except NoSuchElementException:
        insurance3.append(np.nan)

In [429]:
len(insurance3)

2905

## 5. Manufacturing year

In [430]:
year3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        yr = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[1]/div/div')
        year3.append(yr.text)
    except NoSuchElementException:
        year3.append('NaN')

In [432]:
years3 = []
for i in range(len(year3)):
    if year3[i]=='N/A':
        years3.append('NaN')
    elif year3[i]=='NaN':
        years3.append('NaN')
    else:
        years3.append(year3[i])

In [433]:
Years3 = []
for i in range(len(years3)):
    if years3[i]=='NaN':
        Years3.append(np.nan)
    else:
        Years3.append(eval(years3[i]))

In [436]:
len(Years3)

2905

## 6. Kilometers driven

In [437]:
kms3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        km = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[3]/div/div')
        kms3.append(km.text.split())
    except NoSuchElementException:
        kms3.append('NaN')

In [439]:
Kms3 = []
for i in range(len(kms3)):
    if kms3[i]=='NaN':
        Kms3.append('NaN')
    else:
        Kms3.append(kms3[i][0])

In [440]:
Kilo3 = []
for i in range(len(Kms3)):
    if Kms3[i]=='NaN':
        Kilo3.append('NaN')
    else:
        Kilo3.append(Kms3[i].replace(',',''))

In [441]:
Kilos3 = []
for i in range(len(Kilo3)):
    if Kilo3[i]=='NaN':
        Kilos3.append(np.nan)
    else:
        Kilos3.append(eval(Kilo3[i]))

In [443]:
len(Kilos3)

2905

## 7. Fuel type

In [445]:
fuel3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        fl = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[5]/div/div')
        fuel3.append(fl.text)
    except NoSuchElementException:
        fuel3.append(np.nan)

In [472]:
len(fuel3)

2905

## 8. Mileage

In [447]:
mileage3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        ml = driver.find_element(By.XPATH,'//div[@class="SpecsFeatureList"]/ul/li[1]/div[2]')
        mileage3.append(ml.text.split())
    except NoSuchElementException:
        mileage3.append('NaN')

In [452]:
milg3 = []

for i in range(len(mileage3)):
    if mileage3[i]=='NaN':
        milg3.append('NaN')
    else:
        milg3.append(mileage3[i][0].split('b'))

In [453]:
milgs3 = []

for i in range(len(milg3)):
    if milg3[i]=='NaN':
        milgs3.append('NaN')
    else:
        milgs3.append(milg3[i][0])

In [454]:
Mileage3 = []
for i in range(len(milgs3)):
    if milgs3[i]=='NaN':
        Mileage3.append(np.nan)
    else:
        Mileage3.append(eval(milgs3[i]))

In [456]:
len(Mileage3)

2905

## 9. Price

In [457]:
price3 = []

for i in brand_url3:
    driver.get(i)
    time.sleep(1)
    try:
        pc = driver.find_element(By.XPATH,'//div[@class="gsc_container_hold"]/span/span[1]')
        price3.append(pc.text.split())
    except NoSuchElementException:
        price3.append('NaN')

In [458]:
prices3 = []
for i in range(len(price3)):
    if price3 == 'NaN':
        prices3.append('NaN')
    elif price3[i] !='NaN':
        prices3.append(price3[i][0].replace(',',''))
    else:
        prices3.append(price3[i][0])

In [459]:
Prices3 = []
for i in range(len(prices3)):
    if prices3[i]!='N':
        Prices3.append(prices3[i].split('*'))
    else:
        Prices3.append('NaN')

In [460]:
Prc3 = []
for i in range(len(Prices3)):
    Prc3.append(Prices3[i][0])

In [461]:
Prcs3 = []
for i in range(len(Prc3)):
    if Prc3[i]=='N':
        Prcs3.append(np.nan)
    else:
        Prcs3.append(eval(Prc3[i]))

In [473]:
len(Prcs3)

2905

In [469]:
df3 = pd.DataFrame()
df3['Brand'] = brands3
df3['Engine (in cc)'] = Engs3
df3['Number of owner'] = owner3
df3['Insurance'] = insurance3
df3['Manufacturing year'] = Years3
df3['Driven kilometers'] = Kilos3
df3['Fuel type'] = fuel3
df3['Mileage'] = Mileage3
df3['Price (in lakhs)'] = Prcs3
df3

,Brand,Engine (in cc),Number of owner,Insurance,Manufacturing year,Driven kilometers,Fuel type,Mileage,Price (in lakhs)
0,NaN,NaN,NaN,Third Party insurance,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Third Party insurance,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Third Party insurance,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Third Party insurance,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Third Party insurance,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2900,Maruti,1248.0,First Owner,NaN,2015.0,57000.0,Diesel,26.21,6.25
2901,Maruti,993.0,Second Owner,NaN,NaN,50000.0,Petrol,17.30,70000.00
2902,Maruti,1197.0,First Owner,NaN,2019.0,3972.0,Petrol,21.01,8.00
2903,Maruti,1197.0,First Owner,NaN,2019.0,6441.0,Petrol,19.56,8.40
2904,Tata,1199.0,First Owner,NaN,2020.0,12524.0,Petrol,23.84,7.30

In [470]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2905 entries, 0 to 2904
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               2525 non-null   object
 1   Engine (in cc)      2602 non-null   float64
 2   Number of owner     2547 non-null   object
 3   Insurance           271 non-null    object
 4   Manufacturing year  1534 non-null   float64
 5   Driven kilometers   1793 non-null   float64
 6   Fuel type           2505 non-null   object
 7   Mileage             2482 non-null   float64
 8   Price (in lakhs)    2474 non-null   float64
dtypes: float64(5), object(4)
memory usage: 204.4+ KB

In [474]:
df3.to_csv('Mumbai.csv')

In [ ]:
driver.close()

#### It would be wise to save to csv file for each location before proceeding to scrape data for the next location because in case the kernel is dead, we would not have to wait hours and hours again.

In [476]:
data1 = pd.read_csv('Ahmedabad.csv')
data2 = pd.read_csv('Bangalore.csv')
data3 = pd.read_csv('Mumbai.csv')

In [478]:
df = pd.concat([data1,data2,data3])
df

,Unnamed: 0,Brand,Engine (in cc),Number of owner,Insurance,Manufacturing year,Driven kilometers,Fuel type,Mileage,Price (in lakhs)
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2900,2900,Maruti,1248.0,First Owner,NaN,2015.0,57000.0,Diesel,26.21,6.25
2901,2901,Maruti,993.0,Second Owner,NaN,NaN,50000.0,Petrol,17.30,70000.00
2902,2902,Maruti,1197.0,First Owner,NaN,2019.0,3972.0,Petrol,21.01,8.00
2903,2903,Maruti,1197.0,First Owner,NaN,2019.0,6441.0,Petrol,19.56,8.40
2904,2904,Tata,1199.0,First Owner,NaN,2020.0,12524.0,Petrol,23.84,7.30

In [481]:
df.to_csv('Car_prices_prediction.csv')